<div class="lock-screen">
  <div class="avatar">
    <img src="public/images/japanese-garden-2.jpg" class="rounded" alt="profile image">
  </div>
  <form action="#">
   <div class="form-group">
    <label>Enter your password to unlock</label>
    <input type="password" class="form-control text-center" placeholder="Password">
   </div>
   <div class="mt-4">
    <button class="btn btn-block btn-success btn-lg">Unlock</button>
   </div>
  </form>
</div>
