<div class="row mx-0">
 <div class="col-md-4 px-0">
  <div class="auth-banner-section"><img alt="letstart" style="height: 100vh;width: fit-content;" src="public/images/japanese-garden-1.jpg"></div>
 </div>
 <div class="col-12 col-md-8 px-0 stretch-card">
  <div class="auth-screen-2">
   <div class="row">
    <div class="auth-content" style="text-align:center;max-width: 800px;">
     <div class="welcome-text">
      <h3>Welcome to <br class="d-none d-xs-block">growBox - Stem Setup</h3>
     </div>
     <div class="form-group">
      <div class="input-group">
       <div class="input-group-prepend">
        <span class="input-group-text"><i class="mdi mdi-code-json"></i></span>
       </div>
       <textarea class="form-control" placeholder="Paste config JSON object here and click apply" rows="20" id="configInput"></textarea>
      </div>
     </div>
     <div class="form-group" style="text-align:center;">
      <button class="btn btn-success" onclick="applyConfig();" id="applyButton">Apply</button>
     </div>
    </div>
   </div>
   <div class="row d-flex justify-content-center">
    <div class="d-flex justify-content-center" style="padding:0px 5px 0px 5px;border-right: 1px solid #E3E8E8;">
     <a href="https://github.com/treestarsystems/growBox-Stem" target="_blank">Git Repository</a>
    </div>
    <div class="d-flex justify-content-center" style="padding:0px 5px 0px 5px;border-right: 1px solid #E3E8E8;">
     <a href="https://treestarsystems.atlassian.net/wiki/spaces/GPD/overview" target="_blank">Documentation</a>
    </div>
    <div class="d-flex justify-content-center" style="padding:0px 5px 0px 5px;border-right: 1px solid #E3E8E8;">
     <a href="https://www.thegrowboxproject.com/" target="_blank">Project Site</a>
    </div>
    <div class="d-flex justify-content-center" style="padding:0px 5px 0px 5px">
     <a href="http://treestarsystems.com/" target="_blank">Tree Star Systems</a>
    </div>
   </div>
  </div>
 </div>
</div>
