<div class="pcoded-main-container">
 <div class="pcoded-wrapper">
  <div class="pcoded-content">
   <div class="pcoded-inner-content">
    <div class="main-body">
     <div class="page-wrapper">
      <!-- [ Main Content ] start -->
      <div class="row col-md-12" style="height:93vh;padding:0px;margin:0px;">
       <div class="card custom-card col-md-3" style="height:100%;">
        <div class="card-header" style="padding: 20px 10px;">
         <h5>System Information: 6/20/2020 2:26 AM</h5>
        </div>
        <div class="row custom-card fade-in" style="height:50%;padding: 20px 15px;overflow:auto">
         <ul>
          <li>Name: gbdevice-lpaqf</li>
          <li>System:
           <ul>
            <li>Uptime: 11.7 Days</li>
            <li>OS: Linux 4.19.42-v7+ arm</li>
            <li>Load: 40%</li>
            <li>Memory: (14% Used)
             <ul>
              <li>Free: 128 MB</li>
              <li>Total: 917 MB</li>
             </ul>
            </li>
           </ul>
          </li>
          <li>Network:
           <ul>
            <li>eth0: b8:27:eb:a3:18:51
             <ul>
              <li>v4: 192.168.1.166/24</li>
              <li>v6: fe80::afb7:ca2f:f41a:2256/64</li>
             </ul>
            </li>
           </ul>
          </li>
          <li>Disk:
           <ul>
            <li>disk0: / (4% used)
             <ul>
              <li>Free: 56.83 GB</li>
              <li>Total: 59.36 GB</li>
             </ul>
            </li>
           </ul>
          </li>
          <li>Disk:
           <ul>
            <li>disk0: / (4% used)
             <ul>
              <li>Free: 56.83 GB</li>
              <li>Total: 59.36 GB</li>
             </ul>
            </li>
           </ul>
          </li>
          <li>Disk:
           <ul>
            <li>disk0: / (4% used)
             <ul>
              <li>Free: 56.83 GB</li>
              <li>Total: 59.36 GB</li>
             </ul>
            </li>
           </ul>
          </li>
          <li>Disk:
           <ul>
            <li>disk0: / (4% used)
             <ul>
              <li>Free: 56.83 GB</li>
              <li>Total: 59.36 GB</li>
             </ul>
            </li>
           </ul>
          </li>
         </ul>
        </div>
        <div class="card-header" style="padding: 20px 10px;">
         <h5>Temperature Sensor Readings: </h5><img src="public/images/thermometer.png" style="height: 2.5vh;">
        </div>
        <div class="row custom-card fade-in" style="height:50%;padding: 20px 15px;overflow:auto">

         <ul>
          <li>28-011830a39bff: 81.95 &#8457</li>
         </ul>

        </div>
       </div>
       <div class="card custom-card col-md-9 bgimg" style="height:100%;">
        <div class="row" style="height:50%;">
        </div>
        <div class="row" style="height:50%;" id="avg-temperature-chartdiv">
        </div>
       </div>
{{!--
       <div class="card custom-card col-md-3" style="height:100%;">
        <div class="row custom-card" style="height:25%;overflow:auto">
        </div>
        <div class="row custom-card" style="height:25%;overflow:auto">
        </div>
        <div class="row custom-card" style="height:25%;overflow:auto">
        </div>
        <div class="row custom-card" style="height:25%;overflow:auto">
        </div>
       </div>
--}}
      </div>
     </div><!-- [ Main Content ] end -->
    </div>
   </div>
  </div>
 </div>
</div><!-- [ Main Content ] end -->
