<!DOCTYPE html>
<html lang="en">

<head>
    <title>growBox: {{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="CodedThemes" />
    <link rel="icon" href="public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="vendor/mdi-icon/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="public/css/animate.min.css">
    <link rel="stylesheet" href="public/css/status-style.css">
    <link rel="stylesheet" href="public/css/gb.css">

</head>

<body>

{{{body}}}

    <!-- amchart4 js -->
    <script src="public/js/amchart/core.js"></script> 
    <script src="public/js/amchart/charts.js"></script> 
    <script src="public/js/amchart/themes/animated.js"></script> 

    <!-- growBox Custom js -->
    <script src="public/js/gb.js"></script> 
    <script src="public/js/gb-status.js"></script> 

</body>
</html>
