<!DOCTYPE html>
<html lang="en">

<head>
    <title>growBox: {{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="CodedThemes" />
    <link rel="icon" href="public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="vendor/mdi-icon/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="public/css/animate.min.css">
    <link rel="stylesheet" href="public/css/status-style.css">
    <link rel="stylesheet" href="public/css/tss.css">

</head>

<body>

{{{body}}}

    <!-- Required Js -->
    <script src="public/js/vendor-all.min.js"></script>
    <script src="public/js/pcoded.min.js"></script>

{{!--
    <!-- amchart js -->
    <script src="amchart/js/amcharts.js"></script>
    <script src="amchart/js/gauge.js"></script>
    <script src="amchart/js/serial.js"></script>
    <script src="amchart/js/light.js"></script>
    <script src="amchart/js/pie.min.js"></script>
    <script src="amchart/js/ammap.min.js"></script>
    <script src="amchart/js/usaLow.js"></script>
    <script src="amchart/js/radar.js"></script>
    <script src="amchart/js/worldLow.js"></script>
--}}

    <!-- dashboard-custom js -->
    <script src="public/js/dashboard-crm.js"></script>

</body>
</html>
